* {
    font-family: 'Balsamiq Sans', 'Comic Sans MS', 'Segoe UI', Verdana, sans-serif;
}

body {
    align-content: center;
    background-color: lightgrey;
}

#container {

    margin: 300px 300px;
    line-height: 2.2em;
    font-size: 1.2em;
}

h1 {
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

label {
    font-weight: bolder;
    display: inline-block;
    width: 30%;
    text-align: right;
}

input {
    float: right;
    clear: right;
    border: 3px outset black;
    font-size: 0.8em;
    width: 65%;
    padding: 0.3em;
}

input[type="submit"] {
    font-weight: bolder;
    font-size: 1em;
    margin-top: .8em;
    padding: 0.8em;
    border-radius: 10px;
    background-color: darkgrey;
    width: unset;
}

input[name="descriptionInput"] {
    height: 100px;
}