body {
    font-family: 'Balsamiq Sans', 'Segoe UI', Verdana, sans-serif;
    align-content: center;
    background-color: lightgrey;
}

#container {

    margin: 300px 300px;
    line-height: 2em;
    font-size: 1.2em;
}

h1 {
    font-weight: 900;
    text-align: center;
}

label {
    font-weight: bolder;
}

input {
    float: right;
    clear: right;
    border: 3px outset black;
    font-size: 0.9em;
    width: 60%;
    padding: 0.1em;
}

input[type="submit"] {
    padding: 1em;
    border-radius: 10px;
    background-color: darkgrey;
    width: unset;
}
