* {
    font-family: 'Balsamiq Sans', 'Comic Sans MS', 'Segoe UI', Verdana, sans-serif;
}

body {
    align-content: center;
    background-color: lightgrey;
}

#container {

    margin: 50px;
    line-height: 2.2em;
    font-size: 1.2em;
}

h1 {
    font-weight: 900;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 100px;
    clear: both;
}

label {
    font-weight: bolder;
    display: inline-block;
    width: 30%;
    text-align: right;

}

input, button, select {
    float: right;
    clear: right;
    border: 3px outset black;
    font-size: 0.8em;
    width: 65%;
    padding: 0.3em;
}

input[type="submit"], button[type="button"] {
    font-weight: bolder;
    font-size: 1em;
    margin: .8em;
    padding: 0.8em;
    border-radius: 10px;
    border: 6px outset black;
    background-color: darkgrey;
    width: unset;
}

select {
    font-weight: bolder;
    font-size: 1em;
    margin: 0.8em 0.8em 0.8em 0.8em;
    padding: 0.8em;
    border-radius: 10px;
    background-color: palegoldenrod;
    width: unset;
}


input[name="descriptionInput"] {
    height: 100px;
}

#outputs {
    float: right;
    clear: both;
    line-height: 1em;
    text-align: right;
    padding-right: 0.3em;
}

#fetchFeedback {
    font-weight: bolder;
    text-decoration: underline;
}